@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 65px;
    height: 67px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}


.slick-prev
{
    background: url("chevron-left.png") no-repeat;
    left:0;
    z-index: 2;

}


.slick-next
{
    background: url("chevron-right.png") no-repeat;
    right:0;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 0;
}

.slick-dots
{
    position: absolute;
    bottom:-10px;
    left: 0;
    right: 0;
    display: block;

    width:auto;
    padding: 0;
    margin: 0 auto;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 10px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    color:
            transparent;
    outline: none;
    background:
            transparent;
    padding: 5px;
    padding-right: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #EFF6F9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 15px;


}
.slick-dots li.slick-active button:before
{
    opacity:1;
    color:#B6E09F;
}
